  /* grid */
    .productGrid {
      display:grid;
      gap: 3px;
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width:1000px){ .productGrid{ grid-template-columns: repeat(3,1fr);} }
    @media (max-width:720px){ .productGrid{ grid-template-columns: repeat(2,1fr);} }
    @media (max-width:420px){ .productGrid{grid-template-columns: repeat(2, 1fr);} }