.y-checkbox {
     display: flex;
     align-items: flex-start;
     gap: 8px;
     cursor: pointer;
     user-select: none;
     margin: 5px 0px 0;
     width: fit-content;
}

 .y-checkbox > input[type="checkbox"] {
     position: absolute;
     opacity: 0;
     pointer-events: none;
}

 .y-box {
     width: 22px;
     height: 22px;
     border: 2px solid #c5c5c5;
     border-radius: 6px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all .18s ease;
     background: #fff;
}

 .y-icon {
     width: 18px;
     height: 18px;
     color: #fff;
     opacity: 0;
     transform: scale(0.6);
     transition: opacity .15s ease, transform .2s ease;
}

 .y-checkbox > input[type="checkbox"]:checked + .y-box {
     background: #ff7200;
     border-color: #808080;
}
 .y-checkbox > input[type="checkbox"]:checked + .y-box .y-icon {
     opacity: 1;
     transform: scale(1);
}

 .y-checkbox:hover .y-box {
     border-color: #999;
}

 .y-checkbox > input[type="checkbox"]:disabled + .y-box {
     border-color: #e2e2e2;
     background: #f3f3f3;
     cursor: not-allowed;
}
 .y-checkbox > input[type="checkbox"]:disabled + .y-box .y-icon {
     color: #ccc;
}
 .y-checkbox > input[type="checkbox"]:disabled ~ .y-label-text {
     color: #999;
     cursor: not-allowed;
}